<nav class="menu">
    <ul class="topmenu">
      <li><a href="/">Главная</a></li>
      <li><a href="" class="active">Важность проблемы</a>
        <ul class="submenu">
          <li><a href="/life">Животные в жизни человека</a>
          </li>
          <li><a href="/stats">Бездомные животные в нашем мире</a>
          </li>
        </ul>
      </li>
      <li><a href="">Помощь</a>
        <ul class="submenu">
          <li><a href="/moscow">Приюты в Москве</a>
          </li>
          <li><a href="/add-donate">Финансовая поддержка</a>
          </li>
          <li><a href="/volonteer">Как стать волонтером?</a>
          </li>
          <li><a href="/posts">Вопросы</a>
          </li>
        </ul>
      </li>
      <li><a href="">При встрече с бездомным животным</a>
        <ul class="submenu">
          <li><a href="/neur" class="submenu-link">Информация по фото</a>
        </ul>
      </li>
    </ul>
  </nav>