<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/donate.css">
    <link rel="stylesheet" href="/css/life.css">
    <link rel="stylesheet" href="/css/adap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__logo">
        <img src="/img/logo.jpg" alt="" class="logo">
      </div>
      <%- include('./partials/nav.ejs') %>
      <section class="header__info life__info">
        <h1 class="header__tittle">Легенда</h1>
    </section>
    </header>
    <div class="main_ques_p">
      <article class="donate uiui">
        <div class="info">
          <span><%= donate.createdAt.toLocaleDateString() || 'No date' %></span>
          <span><%= donate.amount %></span>
        </div>
        <h1><%= donate.name %></h1>
        <p><%= donate.reason %></p>
        <a href="/editd/<%= donate.id %>" class="btn-edit">
          <i class="fas fa-edit"></i>
        </a>
        <button class="btn-delete" data-id="<%= donate.id %>">  
          <i class="fas fa-trash-alt" data-id="<%= donate.id %>"></i>
        </button>
      </article>
    
      <script>
        document.addEventListener('click', (e) => {
          const id = e.target?.dataset?.id || null;
          if (id) {
            fetch(`/donates/${id}`, {
              method: 'DELETE',
            }).then(() => {
              window.location.href = '/donates';
            });
          }
        });
      </script>
    </div>
    <footer class="footer pumpurum">
      <div class="footer__info">
        <p class="footer__text">&#169 Сделано Замалиевым Азатом</p>
      </div>
    </footer>
  </div>
  
</body>
</html>