<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/adap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://cdn.form.io/js/formio.embed.js"></script>
    <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
  </head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__logo">
        <img src="/img/logo.jpg" alt="" class="logo">
      </div>
      <%- include('./partials/nav.ejs') %>
      <hr class="el__h">
      <section class="header__info">
        <h1 class="header__tittle">Лапка Надежды</h1>
        <h2 class="header__text">
          <p class="header__text__1">"Если вы не любите собак, вы не любите верность; вы не любите тех, кто верен вам, следовательно вы не можете быть верным." — Наполеон Бонапарт</p>
          <p class="header__text__2">"Собака — это не смысл жизни, но благодаря ей жизнь обретает особый смысл." — Роджер Карас</p>
          <p class="header__text__3">"Если вы подберёте на улице дворовую собаку и накормите её, она никогда вас не укусит. В этом и состоит разница между собакой и человеком." — Джозеф Биллингс</p>
        </h2>
      <div class="header__reg">
        <p class="header__reg__text">
          Присоединяйся к нам сейчас — помоги бездомным обрести дом!
         </p>
         <div class="header__button">
          <button class="header__button__reg"">
            <a href="" class="button__rgtext">Присоединиться</a>
          </button>       
        </div>
      </div>
      <script>
        function redirectToForm() {
            window.location.href = "https://pro.formview.io/#/udtmuliaflqqzlv/register?header=1&reset=1";
        }

      </script>
    
      
  
  
    </section>      
    </header>
    <main class="main">
      <div class="content">
        <section class="content__columns columns">  
          <div class="columns__items">
            <div class="columns__item">
              <img src="/img/3.jpg" alt="">
            </div>
            <div class="columns__item">
              <img src="/img/2.jpg" alt="">
            </div>
            <div class="columns__item">
              <img src="/img/7.jpg" alt="">
            </div>
            <div class="columns__item__text__1">
              <p class="columns__item__info">Миссия нашего фонда заключается в спасении и обеспечении заботы для бездомных собак, а также в повышении осведомленности о проблеме бездомности животных в обществе. Мы верим, что каждая собака заслуживает любви, заботы и достойной жизни, и мы нашей миссией делаем все возможное, чтобы помочь им найти дом, где они будут счастливы.</p>
            </div>
            <div class="columns__item__text__2">
              <p class="columns__item__info">Мы верим, что фонд поможет людям узнать о проблеме бездомности собак и осознать важность включения этих животных в наше общество. Нашими усилиями мы желаем изменить отношение общества к бездомным собакам и вдохновить людей стать частью решения этой проблемы. Наша цель заключается в создании общества, где все собаки имеют шанс на счастливую и заботливую жизнь.</p>
            </div>
            <div class="columns__item__text__3">
              <p class="columns__item__info">Мы не являемся коммерческой организацией, у нас нет собственных приютов. Фонд предназначен для популизации проблемы, предоставления информации о том, как можно стать частью небезраличного сообщества, осуществления финансовой поддержки. </p>
            </div>
            <div class="columns__payment">
              <h1 class="pay">Пожертвуй сейчас</h1>
              <p class="pay__text">Помогите нам оказать помощь бездомным собакам. Ваша щедрость может изменить жизнь.</p>
              <div class="donate">
                <button class="donate__button">
                  <a href="/donate" class="donate__button__text">Помочь</a>
                </button>      
              </div>
            </div>
          </div>
        </section>
        <div id="carouselExampleAutoplaying" class="carousel slide carousel__index" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/img/1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/img/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/img/3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>  
        <hr class="el">
    </main>
    <footer class="footer">
      <div class="footer__info">
        <p class="footer__text">&#169 Сделано Замалиевым Азатом</p>
        
      </div>
    </footer>
  </div>
</body>
</html>