<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/life.css">
    <link rel="stylesheet" href="/css/adap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
  <div class="wrapper">
    <header class="header life__header">
      <div class="header__logo">
        <img src="/img/logo.jpg" alt="" class="logo">
      </div>
      <%- include('./partials/nav.ejs') %>
      <!-- <hr class="el__h"> -->
        <section class="header__info life__info">
            <h1 class="header__tittle">Человек и собака</h1>
            <p class="live__info__text">Когда человек заводит собаку, он берет на себя обязательства заботиться о ней, следить за ее здоровьем, оберегать от опасностей. В этой статье мы рассмотрим, как собака влияет на человека. Но если посмотреть на отношения человека и собаки шире, то мы обнаружим, что и собаки защищают людей от опасностей или предостерегают, если есть угроза, заботятся о здоровье, положительно влияют на настроение, помогают справиться с тревогой и стрессом, способствуют социализации.</p>
        </section>
    </section>
    </header>
    <main class="main life__main">
        <div class="content">
          <section class="content__columns columns">  
            <div class="columns__items life__columns">
              <div class="columns__item life__columns__item">
                <img src="/img/save.jpg" alt="">
              </div>
              <div class="columns__item life__columns__item">
                <img src="/img/health.jpg" alt="">
              </div>
              <div class="columns__item life__columns__item">
                <img src="/img/can.jpg" alt="">
              </div>
              <div class="columns__item__text__1 life__text__1">
                <p class="columns__item__info">Есть масса примеров того, как собака влияет на человека, питомцы спасали людей на воде, от пожара, предупреждали о землетрясении, находили под завалами. Специально обученные собаки могут дать сигнал хозяину об изменении уровня сахара в крови, служат поводырями, оказывают психотерапевтическое воздействие. Описано немало случаев пользы собаки для человека, когда собака вопреки инстинкту самосохранения помогала человеку выжить (обогревала человека, потерявшего сознание, отдавала свою еду голодающему). Иногда собаки замечают то, о чем сам человек не догадывается. Например, есть данные, что собаки способны уловить запах, связанный с изменением гормонального фона при наступлении беременности у хозяйки — собака меняет свое поведение вплоть до того, что не позволяет никому приближаться к хозяйке.</p>
              </div>
              <div class="columns__item__text__2 life__text__2">
                <p class="columns__item__info">Питомцы, не обученные сложным навыкам, делают много полезного и доброго для жизни и здоровья своих владельцев: их безусловная любовь и преданность в сочетании с прогулками и регулярными физическими нагрузками (которые неизбежны, когда в доме есть собака), помогают человеку сохранять здоровье и душевное равновесие. Если добавить к этому контактность, дружелюбность собак и их приятную на ощупь шерсть, то получается значимый терапевтический эффект.</p>
              </div>
              <div class="columns__item__text__3 life__text__3">
                <p class="columns__item__info">Канистерапия — одно из самых популярных направлений пет-терапии (анималтерапии / зоотерапии) — лечения с участием животных. Подавляющее большинство животных, участвующих в реабилитации и социализации нуждающихся в этом людей, составляют собаки. Собакотерапия даёт отличные результаты, домашние животные способны чутко распознавать характер человека и изменения в настроении, наблюдая за выражением его лица, что безусловно важно при работе с эмоциональными состояниями.Несмотря на то, что положительный терапевтический эффект от контакта с животными у людей был замечен еще несколько столетий назад, научное изучение влияния контакта с собаками на здоровье, социальную активность и эмоциональное самочувствие человека началось только во второй половине ХХ века.  </p>
              </div>
            </div>
          </section>  
        </div>
          <!-- <hr class="el__life"> -->
      </main>
      <footer class="footer">
        <div class="footer__info">
          <p class="footer__text">&#169 Сделано Замалиевым Азатом</p>
          
        </div>
      </footer>
  </div>
</body>
</html>


