<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/moscow.css">
    <link rel="stylesheet" href="/css/life.css">
    <link rel="stylesheet" href="/css/adap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
  <div class="wrapper wrapper__msc">
    <header class="header life__header moscow__header">
      <div class="header__logo">
        <img src="/img/logo.jpg" alt="" class="logo">
      </div>
      <%- include('./partials/nav.ejs') %>
      <!-- <hr class="el__h"> -->
        <section class="header__info life__info">
            <h1 class="header__tittle">Приюты Москва</h1>
            <p class="live__info__text">В Москве есть 4 приюта для бездомных животных, которые финансирует город. Но приюты всегда рады личной помощи, поэтому они ищут волонтеров — это люди, которые играют с животными, помогают их дрессировать и учат безопасному контакту с человеком. Кроме того, в Москве много частных фондов, которые спасают бездомных животных и находят им новую семью. </p>
        </section>
    </header>
    <main class="main life__main moscow__main">
      
      <div class="moscow__homes">
        
        <div class="moscow__home">
          <img src="/img/iscra.png" alt="" class="moscow__iscra__img">
          <span>Приют "Искра" — московский муниципальный приют помогает для поиска находящемся в нем собакам теплого, любящего и надежного дома.</span>
        </div>
        <div class="moscow__home">
          <span>Приют «Печатники» — это муниципальный приют для животных. Главная миссия — помочь обрести дом бездомным животным. Собаки и кошки попадают в приют только через государственные службы отлова. Животные поступают уже с индивидуальным чипом, который занесён в базу, приют не имеет права принимать животных у частных лиц. К тому же, поток поступающих большой и на текущий момент все приюты переполнены.</span>
          <img src="/img/pech.png" alt="" class="moscow__pech__img">
        </div>
        <div class="moscow__home">
          <img src="/img/rosch.png" alt="" class="moscow__rosch__img">
          <span>Приют "Дубовая Роща" был открыт в 2008 году. Изначально приют работал по временной схеме. Для функционирования на постоянной основе необходимо обеспечение доступа к системам водоснабжения и электричества. К сожалению, в "Дубовой Роще" до сих пор отсутствуют вода и свет, что делает прибывание животных еще более затруднительным: бытовки для больных собак не отапливаются, отсутствует пригодный стационар для проходящих лечение или восстановление после операции. </span>
        </div>
        <div class="moscow__home moscow__home__sosna">
          <span>Приют для бездомных собак «Красная Сосна» — это московский муниципальный приют. Здесь содержатся около 300 бездомных, потерянных или брошенных собак. Приют функционирует с 2009 года. Несмотря на то что приюты для бездомных собак в Москве финансируется государством, условия содержания животных зачастую оставляют желать лучшего. Существование приюта невозможно представить без активной помощи волонтёров. Собаки попадают в приют только посредством отлова, проводимого в рамках специальной государственной программы. Приют не принимает собак от населения.</span>
          <img src="/img/sosna.png" alt="" class="moscow__sosna__img">
        </div>
      </div>
      <!-- <hr class="el__life"> -->
      <div class="maps">
          <script type="text/javascript" class="map" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A79ef061b69f7654f8d6bcf5e769ab6061fefdd25e2986323080537021a50c3d5&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
    </main>
    

      <footer class="footer">
        <div class="footer__info">
          <p class="footer__text">&#169 Сделано Замалиевым Азатом</p>    
        </div>
      </footer>
  </div>
</body>
</html>
