<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/life.css">
    <link rel="stylesheet" href="/css/moscow.css">
    <link rel="stylesheet" href="/css/stats.css">
    <link rel="stylesheet" href="/css/neur.css">
    <link rel="stylesheet" href="/css/adap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__logo">
        <img src="/img/logo.jpg" alt="" class="logo">
      </div>
      <%- include('./partials/nav.ejs') %>
      <hr class="el__h">
      <section class="header__info life__info">
          <h1 class="header__tittle">Узнать о собаке через нейросеть</h1>
          <p class="live__info__text">Собаки по-разному ведут себя в жизни в зависимость от породы, возраста, пола, условий содержания и другое. Каждая порода собак была выведена для определенных целей и в зависимости от породы и наследственных качеств по-разному проявляется поведение и интеллект собаки. Целью данного раздела сайта является предоставление информации о собаке по ее фото</p>
      </section>
    </header>
    <main class="neur__main">
      <div class="neur__content">
        <p class="neur__tittle">Загрузите изображение </p>
        <input type="file" accept="image/*" placeholder="Загрузить">
      </div>
      <div class="dog__page">
        <div class="dog__class">
            <p>Порода собаки:</p>
            <p>С вероятностью:</p>
            <hr>
        </div>
        
        <div class="dog__class__info">
            
            <div class="class__info">
                <h3>Краткая информация</h3>
                <p class="class__name">Название породы: Фараонова собака
                </p>
                <p class="class__country">Страна происхождения: Мальта
                </p>
                <p class="class__weight">Вес: 20-25 кг
                </p>
                <p class="class__height">Рост: 53-61 см</p>
                <p class="class__life">Продолжительность жизни: 12-14 лет</p>
            </div>
            <div class="class__important__moments">
                <h3>Основные моменты</h3>
                <p class="class__important__moment">В СССР фараоновы собаки появились в 1987 году, однако по сей день поголовье породы в России и мире в целом крайне невелико.</p>
                <p class="class__important__moment">Представители этого семейства входят в топ-10 самых дорогих собак в мире.
                </p>
                <p class="class__important__moment">Благородство силуэта и непревзойденные беговые качества фараоновых собак обусловлены многолетней изоляцией и длительным невмешательством селекционеров в генофонд животных.
                </p>
            </div>
            <div class="class__history">
                <h3>История</h3>
                <p class="class__history__text">Исходя из экзотического названия породы, логично предположить, что ее прародители были с берегов Нила. На самом деле внешнее сходство представителей этого семейства с героем древнеегипетской мифологии Анубисом абсолютно случайно. Более того, родиной псов является Мальта. По легенде, животных в эти края привезли финикийцы, где те тысячелетиями проживали в относительной изоляции без возможности скрещиваться с другими породами. При этом на острове борзых именовали «кельб таль-фенек», что в переводе означало «кроличья собака».</p>
                <p class="class__history__text">В страны Европы фараоновы собаки проникли в начале XX века, а к 30-м годам первых особей получили английские заводчики. На то, чтобы завоевать доверие собаководов Старого Света у животных ушло почти тридцать лет. Причем особенно способствовали пробуждению интереса к «фараонам» британец генерал Блок и его супруга Полин. Пара профессионально занималась разведением кроличьих борзых и основала собственный питомник, из которого впоследствии вышло 90% британского поголовья «псов Анубиса». </p>
                <p class="class__history__text">В 1977 году породой заинтересовались племенные специалисты FCI и даже приняли решение привести ее представителей к единому стандарту. Правда, скоро выяснилось, что название «фараонова собака» в племенных книгах занято другим четверолапым семейством, происходившим с острова Ибица. Чтобы в дальнейшем не возникло межпородной путаницы, псам с Мальты все-таки присвоили «фараонский статус», а собак с Ибицы в срочном порядке переименовали в ивисских борзых. </p>
            </div>
            <div class="class__character">
                <h3>Характер</h3>
                <p class="class__character__text">Невзирая на несколько претенциозное название породы, ее представители напрочь лишены заносчивости и стремления к подавлению всех и вся. Правильная фараонова собака – это ласковое, умное и понимающее создание, с которым легко наладить отношения, даже не имея за плечами кинологического опыта. Одна из главных черт мальтийских кроличьих борзых – феноменальное миролюбие. Гиперактивные дети с их постоянной беготней, самовлюбленные котофеи, разгуливающие по квартире, толпы гостей – подобные превратности судьбы «фараон» воспринимает с невероятным спокойствием.</p>
                <p class="class__character__text">Тем не менее, считать питомца робким и неуверенным в себе существом явно не стоит. Если нужно, эта изящная «модель» и чужака облает, и распоясавшихся ворон на улице приструнит, и собственное добро от детских посягательств защитит. Общительность и любознательность – качества, которыми обязан обладать каждый представитель породы. При этом фараоновым собакам абсолютно чужда навязчивость. Убедившись, что хозяин не стремится идти на контакт, «фараон» не станет унижаться и выпрашивать ласку, а возьмет паузу и займется своими делами.</p>
                <p class="class__character__text">Врожденная аристократичность поведения – то, что выгодно выделяет мальтийских борзых. Настоящая фараонова собака выстраивает поведение в зависимости от окружающей обстановки и не позволяет себе лишнего. Например, развивая безумные скорости на собачьих бегах и преследуя с первобытным азартом механического зайца, «фараон» никогда не станет переворачивать вверх дном квартиру, в которой обитает. Более того, дома этот подтянутый бегун предпочтет разыграть роль диванного баловня и тихонько подремлет в кресле, пока хозяин готовит для него очередную порцию вкусностей. </p>
                <p class="class__character__text">Что касается совместного проживания с другими псами, а также собственными родственниками, здесь «мальтийцы» на удивление лояльны – сказывается врожденная бесконфликтность. Кстати, не ждите, что фараонова собака будет предана кому-то одному. Представители этой породы отличаются ровным отношением ко всем членам семьи, а если кого-то и выделяют, то делают это очень деликатно. Не свойственна грациозным «анубисам» и такая дурная привычка, как пустобрехство. Обычно на чрезмерную страсть породы к лаю и завыванию жалуются владельцы, не любящие выгуливать четверолапых подопечных, а также имеющие привычку запирать животное в пустой квартире.</p>
            </div>
            <div class="class__people">
                <h3>Отношение с человеком</h3>
                <p class="class__people__text">С фараоновой собакой легко приятельствовать, но сходу привить питомцу необходимые нормы этикета не получится, какими бы большими друзьями вы ни были. С другой стороны, у кроличьих борзых феноменальная память, и однажды выученные команды или артистические номера они не забывают никогда.

                    Важно понимать, что жесткую дисциплину и учебу гордые «анубисы» не выносят, поэтому, если вознамерились заняться дрессировкой, готовьтесь потратить на это дело от нескольких месяцев до нескольких лет. Тот же ОКД порода будет постигать в разы дольше, чем какая-нибудь немецкая овчарка, поэтому иногда разумнее отказаться от сложных программ в пользу более упрощенных вариантов. В конце концов, фараоновы собаки выводились не для прислуживания и охраны.</p>
            </div>
            <div class="class__health">
                <h3>Здоровье</h3>
                <p class="class__health__text">Фараоновых собак можно считать долгожителями: 15-17 лет для породы – вполне достижимая возрастная планка. Причем даже пожилые и многое повидавшие особи не спешат выходить в тираж, сохраняя презентабельную внешность, участвуя в разнообразных выставках и обзаводясь дипломами. </p>
                <p class="class__health__text">Из наследственных заболеваний у фараоновых собак обычно дают о себе знать дисплазия тазобедренных суставов и вывих коленной чашечки. Питомцы часто страдают и от вздутия живота. В связи с этим важно не перекармливать пса, обеспечив предельно спокойную обстановку в помещении, где тот ест, поскольку торопясь и волнуясь, борзая с пищей заглатывает воздух, что провоцирует вздутие.</p>
                <p class="class__health__text">А вот от аллергии порода не страдает совершенно и может свободно поглощать все разрешенные собакам продукты. Единственное, что немного портит «мальтийцам» жизнь, это повышенная чувствительность к химикатам, поэтому, обрабатывая четверолапого «анубиса» средствами от блох и клещей, наносите препарат в самые недоступные для собачьего языка места. </p>

            </div>
            <div class="class__images">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="2000">
                        <img src="/img/ex.jpg" class="d-block w-40" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/img/ex1.jpg" class="d-block w-40" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/img/ex2.jpg" class="d-block w-40" alt="...">
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__info">
        <p class="footer__text">&#169 Сделано Замалиевым Азатом</p>
        
      </div>
    </footer>
  </div>
</body>
</html>