<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/life.css">
    <link rel="stylesheet" href="/css/moscow.css">
    <link rel="stylesheet" href="/css/stats.css">
    <link rel="stylesheet" href="/css/adap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__logo">
        <img src="/img/logo.jpg" alt="" class="logo">
      </div>
      <%- include('./partials/nav.ejs') %>
      <hr class="el__h">
      <section class="header__info life__info">
          <h1 class="header__tittle">Бездомные животные <br>  в нашем мире</h1>
          <p class="live__info__text">По оценкам Всемирной организации здравоохранения во всем мире насчитывается только 200 миллионов бездомных собак, а ведь еще есть коты, птицы и другие животные. В России проблема безнадзорных животных остается острой: по данным на 2021 год, в стране было около 3,2 млн уличных кошек и 735 тысяч собак. До 85% из них раньше были домашними и оказались на улице по вине человека  </p>
      </section>
    </header>
    <main >
      <div class="graph">
        <canvas id="myPieChart" width = "300"></canvas>
        <canvas id="myBarChart" width = "450"></canvas>
        <canvas id="myLineChart" width = "400"></canvas>

      </div>  
      <div class="graph">
        <canvas id="myDoughnutChart" width="400"></canvas>
      </div>

      <script>
        async function fetchData() {
          const response = await fetch('/data.json');
          const data = await response.json();
          return data;
        }
      
        document.addEventListener('DOMContentLoaded', async function () {
          const chartData = await fetchData();
      
          createPieChart(chartData.pieChart);
          createBarChart(chartData.barChart);
          createLineChart(chartData.lineChart);
          createDoughnutChart(chartData.doughnutChart);
        });
      
        function createPieChart(data) {
          const ctx = document.getElementById('myPieChart').getContext('2d');
          const myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
              labels: data.labels,
              datasets: [{
                data: data.data,
                backgroundColor: data.backgroundColor,
              }]
            },
            options: {
              responsive: false,
              width: 300,
              height: 300,
            },
          });
        }
      
        function createBarChart(data) {
          const ctx = document.getElementById('myBarChart').getContext('2d');
          const myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Данные',
                data: data.data,
                backgroundColor: data.backgroundColor,
              }]
            },
            options: {
              responsive: false,
              scales: {
                y: {
                  beginAtZero: true
                }
              },
            },
          });
        }
      
        function createLineChart(data) {
          const ctx = document.getElementById('myLineChart').getContext('2d');
          const myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: data.datasets.map(dataset => ({
                label: dataset.label,
                data: dataset.data,
                borderColor: dataset.borderColor,
                fill: false,
              })),
            },
            options: {
              responsive: false,
              scales: {
                y: {
                  beginAtZero: true,
                }
              },
            },
          });
        }
      
        function createDoughnutChart(data) {
          const ctx = document.getElementById('myDoughnutChart').getContext('2d');
          const myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: data.labels,
              datasets: [{
                data: data.data,
                backgroundColor: data.backgroundColor,
              }],
            },
            options: {
              responsive: false,
              width: 200,
              height: 200,
            },
          });
        }
      </script>
      
      

      



      <div class="stats__content">
        <div class="stats__content__h2">
          <h2>Пути решения</h2>
        </div>
        <div class="stats__content__text">
          <p>Во многих страннах используется подход для сокращения численности бездомных животных, основой которого является ограничение разведения. Это происходит по следующему принципу:</p>
        </div>
        <div class="stats__timeline">
          <ul class="timeline__items">
            <li class="timeline__items__img timeline__items__img__l">
              <img src="/img/nal.png" alt="">
            </li>
            <li class="timeline__items__img">
              <img src="/img/control.png" alt="">
            </li>
            <li class="timeline__items__img timeline__items__img__l">
              <img src="/img/smi.png" alt="">
            </li>
            <li class="timeline__items__img">
              <img src="/img/lad.png" alt="">
            </li>
            <li class="timeline__items__img timeline__items__img__l">
              <img src="/img/com.png" alt="">
            </li>
            <li class="timeline__items__img">
              <img src="/img/ch.png" alt="">
            </li>
            <li class="timeline__item timeline__item__r timeline__item__r__1">
              <hr class="stats__hr">
              <h3>Налоги</h3>
              <p>Налог на некастрированное домашнее животное.</p>
              <hr class="stats__hr">
            </li>
            <li class="timeline__item timeline__item__l timeline__item__l__1">
              <hr class="stats__hr">
              <h3>Контроль</h3>
              <p>Государственный контроль заводческой деятельности — заводчики обязаны иметь лицензию и платить высокие налоги, именно поэтому в европейских странах питомников значительно меньше, чем в России.</p>
              <hr class="stats__hr">
            </li>
            <li class="timeline__item timeline__item__r timeline__item__r__2">
              <hr class="stats__hr">
              <h3>СМИ и реклама</h3>
              <p>Освещение проблемы в СМИ и активные рекламные кампании по стерилизации/кастрации домашних питомцев и по пристройству животных из приюта.</p>
              <hr class="stats__hr">
            </li>
            <li class="timeline__item timeline__item__l timeline__item__l__2">
              <hr class="stats__hr">
              <h3>Программы ОСВ</h3>
              <p>Отлов и кастрация бездомных животных.</p>
              <hr class="stats__hr">
            </li>
            <li class="timeline__item timeline__item__r timeline__item__r__3">
              <hr class="stats__hr">
              <h3>Специальные комиссии</h3>
              <p>Создание комиссий, контролирующих деятельность приютов.</p>
              <hr class="stats__hr">
            </li>
            <li class="timeline__item timeline__item__l timeline__item__l__3">
              <hr class="stats__hr">
              <h3>Внедрение паспорта животного</h3>
              <p>Обязательная регистрация питомца, введение капсулы с микрочипом.</p>
              <hr class="stats__hr">
            </li>
          </ul>
        </div>  
        <div class="stats__holland">
          <div class="stats__content__h2">
            <hr class="stats__holland__hr">
            <h2>История Нидерландов</h2>
          </div>
          <div class="stats__timeline">
            <ul class="timeline__items stats__timeline">
              <li class="timeline__item timeline__item__r timeline__item__r__1">
                <hr class="stats__hr">
                <h3>Предыстория</h3>
                <p>С ХIX века в Нидерландах было огромное количество собак. Почти каждая семья держала это животное дома, что считалось показателем высокого социального статуса. Однако широкое распространение собак в стране спровоцировало вспышку бешенства. Это заболевание стало причиной большого количества смертей среди населения. Из страха многие владельцы начали отказываться от своих питомцев, и, поскольку это действие считалось законным, улицы заполнились бездомными собаками всех мастей.</p>
                <hr class="stats__hr">
              </li>
              <li class="timeline__item timeline__item__l timeline__item__l__1">
                <hr class="stats__hr">
                <h3>Дни стерилизации</h3>
                <p>Голландцы решили изменить создавшееся положение. Для этого правительство страны сделало стерилизацию и кастрацию обязательными процедурами. Операции были бесплатными: государство взяло на себя все раСХоды. При этом удалось стерилизовать 70 % сук. Любую собаку также можно было привести на медосмотр, чтобы узнать, какие вакцины и процедуры ей необходимы.</p>
                <hr class="stats__hr">
              </li>
              <li class="timeline__item timeline__item__r timeline__item__r__2">
                <hr class="stats__hr">
                <h3>Закон против выбрасывания</h3>
                <p>Чтобы лучше контролировать ситуацию и раз и навсегда покончить с проблемой, правительство приняло ряд законов, защищающих здоровье и благополучие животных. Новое законодательство поощряло владельцев предоставлять домашним животным своевременное лечение и пресекало жестокое обращение с ними. Если владелец нарушал новые правила, он мог лишиться свободы на срок до 3 лет и получить штраф в размере свыше $ 16 тыс.</p>
                <hr class="stats__hr">
              </li>
              <li class="timeline__item timeline__item__l timeline__item__l__2">
                <hr class="stats__hr">
                <h3>Повышение налогов на покупку породистых собак</h3>
                <p>Решаясь завести собаку, люди нередко выбирают питомца среди породистых животных, поскольку считают их более красивыми и здоровыми. Поэтому правительство Нидерландов повысило налоги на покупку собак в зоомагазинах. Такие меры заставили потенциальных владельцев задуматься о других способах приобретения питомца и увеличили шансы животных из приютов на достойную жизнь.</p>
                <hr class="stats__hr">
              </li>
              <li class="timeline__item timeline__item__r timeline__item__r__3">
                <hr class="stats__hr">
                <h3>Информационно- просветительские кампании</h3>
                <p>Параллельно правительство провело кампанию по повышению осведомленности местного населения, объясняя, что животные нуждаются в неменьшей заботе и защите, чем люди. У местных жителей появилась возможность позаботиться о бездомных щенках. Медленно, но верно люди влюблялись в них, и более 1 млн бездомных собак смогли найти семью и безопасное место для жизни. Это мероприятие оказало огромное влияние на граждан, и в результате 90 % населения завели собаку в качестве домашнего животного.</p>
                <hr class="stats__hr">
              </li>
              <li class="timeline__item timeline__item__l timeline__item__l__3">
                <hr class="stats__hr">
                <h3>Хеппи-энд для щенков</h3>
                <p>Эта программа разом решила все проблемы. Чтобы закрепить успех, в 2011 году правительство передало эту работу Аnimal Сops — группе полицейских, отвечающих за защиту и безопасность собак. Сегодня щенки в Нидерландах живут не только в домах, но и в большинстве магазинов, ресторанов - и других заведений страны.</p>
                <hr class="stats__hr">
              </li>
            </ul>
          </div>  
          
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__info">
        <p class="footer__text">&#169 Сделано Замалиевым Азатом</p>
        
      </div>
    </footer>
  </div>
</body>
</html>