<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/life.css">
    <link rel="stylesheet" href="/css/moscow.css">
    <link rel="stylesheet" href="/css/stats.css">
    <link rel="stylesheet" href="/css/adap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__logo">
        <img src="/img/logo.jpg" alt="" class="logo">
      </div>
      <%- include('./partials/nav.ejs') %>
      <hr class="el__h">
      <section class="header__info life__info">
          <h1 class="header__tittle">Как стать волонтером</h1>
          <p class="live__info__text">Волонтеры - ангелы-хранители хвостатых жителей. Они следят за общим состоянием собак, лечат, кормят, гуляют, социализируют, приучают к амуниции, занимаются пиаром и пристройством. Финальная цель любого волонтера - найти собаке дом и любящую семью. </p>
      </section> 
      <div class= "but_v">
        <button class="header__button__reg" onclick="redirectToForm_v()">
          <a href="" class="button__rgtext">Оставить заявку</a>
        </button> 
        <button class="header__button__reg">
        <a href="/add-post" class="button__rgtext">Задать вопрос</a>
      </button> </div>
      <script>
        function redirectToForm_v() {
            // Замените ссылку на фактическую ссылку на вашу форму
            window.location.href = "https://pro.formview.io/#/udtmuliaflqqzlv/volonteer?header=1&reset=1";
        }
        function redirectToForm_q() {
            // Замените ссылку на фактическую ссылку на вашу форму
            window.location.href = "https://pro.formview.io/#/udtmuliaflqqzlv/question?header=1&reset=1";
        }
    </script>


    </header>
    
    <main>
    <div class="main__content">
      <div class="stats__content__h2">
        <h2>СТАНЬ ВОЛОНТЕРОМ
        </h2>
      </div>
      <div class="main__text">
        <p>Очень много людей хочет помочь кошкам и собакам приюта, но не знают как это сделать, с чего начать? Эта страница посвящена Вам, людям, которые имеют возможность, а главное желание помогать обитателям приюта.
          Свяжитесь с волонтерами приюта по телефону – мы подробно расскажем, как добраться до приюта, к кому из волонтеров конкретно обратиться, придя в приют. Как удобно одеться, что иметь с собой, какая помощь нужна в данный момент в первую очередь. 
          
          
          Придя в приют — не теряйтесь и не стесняйтесь! Подходите к волонтеру, который заранее будет предупрежден о Вашем приходе, и интересуйтесь тем, чем можно и нужно помочь на данный момент! Что можно и нужно всегда делать в приюте:
          
          
          Просто погладить и почесать за ушком каждую кошку и собаку. Сказать доброе слово каждому питомцу приюта. Выводить собак на выгул в приюте, приучать к поводку и к человеку. Лучше выбрать конкретных животных, которыми Вы будете постоянно заниматься (1-2 раза в неделю).
          
          
          Если же Вы не можете регулярно навещать приют или не очень часто приходить в гости, но хотите помогать и быть в команде наших помощников, то Вы можете и это осуществить! Вот перечень мероприятий, которые всегда требуют внимания:</p>
      </div>
      <div class="stats__timeline">
        <ul class="timeline__items stats__timeline">
          <li class="timeline__item timeline__item__r">
            <hr class="stats__hr">
            <h3>Помогать транспортом</h3>
            <p>У Вас есть машина? Тогда вы можете связаться с работниками приютов и помогать с перевозкой животных, сбором отданных вещей и материалов.</p>
            <hr class="stats__hr">
          </li>
          <li class="timeline__item timeline__item__l">
            <hr class="stats__hr">
            <h3>Искать новых хозяев</h3>
            <p>Может быть среди Ваших знакомых, родственников, коллег, друзей есть люди, которые хотят завести ласкового пушистого друга?! Приглашайте их к нам на смотрины, рассказывайте о кошках и собаках в приюте.</p>
            <hr class="stats__hr">
          </li>
          <li class="timeline__item timeline__item__r">
            <hr class="stats__hr">
            <h3>Пиар</h3>
            <p>Всегда актуально помочь в распространении объявлений по сайтам интернета, в бесплатных газетах, на стендах остановок, зоомагазинах и ветклиниках. Выбираете понравившееся животное и распространяете про него информацию везде, где возможно, чтобы нашелся добрый хозяин.</p>
            <hr class="stats__hr">
          </li>
          <li class="timeline__item timeline__item__l">
            <hr class="stats__hr">
            <h3>Реклама и дизайн</h3>
            <p>Если вы можете взять на себя разработку листовок, написание и размещение новостей в соцсетях, а также что-то придумать и порекомендовать (и осуществить это), приюты будут очень рады видеть вас в их команде!</p>
            <hr class="stats__hr">
          </li>
          <li class="timeline__item timeline__item__r">
            <hr class="stats__hr">
            <h3>Фотографирование животных</h3>
            <p> Как показывает практика, красиво сфотографированных и представленных во всей красе животных пристраивать в добрые руки намного легче, чем по любительским и порой не слишком качественным фотографиям. Мы будем очень рады, если у вас есть возможность иногда проводить фотосъемку наших питомцев.</p>
            <hr class="stats__hr">
          </li>
          <li class="timeline__item timeline__item__l">
            <hr class="stats__hr">
            <h3>Сбор финсредств для приюта</h3>
            <p>Вы можете помогать финансово, траты бывают в ветеринарных клиниках, на специализированный корм для больных животных, на передержку. По всем вопросом оказания финансовой помощи, свяжитесь, пожалуйста, с волонтерами по телефонам, указанным на сайте.</p>
            <hr class="stats__hr">
          </li>
          <li class="timeline__item timeline__item__r">
            <hr class="stats__hr">
            <h3>Сбор вещей и материалов</h3>
            <p>Многие люди выкидывают вещи (одеяла, изношенное постельное белье, теплые шарфы, шали и т.д), но они очень сильно помогают для жизни животных. При передаче этих вещей с приют, все должно быть чистым, выстиранным, хоть и использованным.</p>
            <hr class="stats__hr">
          </li>
          <li class="timeline__item timeline__item__l">
            <hr class="stats__hr">
            <h3>Передержка</h3>
            <p>Есть случаи, когда кошки или собаки не могут из-за психологических факторов жить в приюте, но им требуется временный дом. Передержки бывают разные и условия содержания тоже разные, по всем вопросам звоните.</p>
            <hr class="stats__hr">
          </li>
        </ul>
      </div>
    </div>
    </main>
    <footer class="footer">
      <div class="footer__info">
        <p class="footer__text">&#169 Сделано Замалиевым Азатом</p>
        
      </div>
    </footer>
  </div>
</body>
</html>