@media (max-width: 992px){
    .columns__items{
        grid-auto-flow: row;
        grid-template: 1fr / 2fr;
        
        column-gap: 20px;
    }
    .columns__item__text__1 {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .columns__item__text__2 {
        grid-column-start: 1;
        grid-row-start: 4;
    }
    .columns__item__text__3{
        grid-column-start: 1;
        grid-row-start: 6;
    }
    .columns__payment{
        grid-column-start: 1;
        grid-row-start: 7   ;
    }
    .columns__items{
        grid-auto-flow: row;
        max-width: fit-content;
        grid-template: 1fr / 1fr;
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .header{max-width: fit-content;}
    .header__info{
        max-width: fit-content;
        grid-auto-flow: row;   
        grid-template-columns:auto;
    }

    .columns__item__text__1 .columns__item__text__2 .columns__item__text__3{
        grid-column-start: 1;

    }
    .wrapper{
        background-color: #ffffff;
        display: grid;
        min-height: 100%;
        max-width: max-content;
        
    }
    .content{
        grid-auto-flow: row;
    }
    .logo{
        display: inline-block;
        position: relative;
        width: 5%;
        border-radius:50px;
        left: 0px;
        top:10px;
      
            
      }
    .el  {
       display: none;
      }
    .header__text{
        grid-column-start: 1;
    }
    .header__reg{
        grid-column-end:2;
        grid-row-start:3;
    }
    .menu{
       float:left;
    }
    .el__life{
        display: none;
    }

    .life__columns{
        grid-auto-flow: row;
    }
    .life__text__1{
        grid-column-start: 1;
 
        grid-row-start: 1;
    }
    .life__text__2{
        grid-column-start: 1;
 
        grid-row-start: 2;
    }
    .live__info__text{
        margin-left: 20px;
        margin-right: 20px;
    }
    .stats__content__text{
        margin-left: 20px;
        margin-right: 20px;
    }
    .timeline__items__img{
        display: none;
    }
    .timeline__item__l{
        padding-right: 40px;
        grid-column-start: 1;
        text-align:center;
        overflow: visible;
        font-weight: 500;
        font-style: normal;
        font-family: "Manrope", sans-serif;
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 0em;
        line-height: 1.4;
        padding: 0;
    
    }
    .timeline__item__r{
        padding-left: 40px;
        grid-column-start: 1;
        text-align:center;
        overflow: visible;
        font-weight: 500;
        font-style: normal;
        font-family: "Manrope", sans-serif;
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 0em;
        line-height: 1.4;
        padding: 0;
    }
  }


