@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.col{
    display: grid;
}
.container{
  display: grid;
  justify-content: center;
  align-items: center;
  padding:25px;
  margin-top: 60px;
}

.container form{
  padding:40px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border-radius:40px;
}

.container form .row{
  display: grid;
  gap:15px;
  grid-auto-flow: row;
}



.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius:70px;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
  border-radius:0px;
}

.container form .row .col .flex{
    display: grid;

}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 10px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #372549;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
  border-radius:70px;
  margin-top: 20px;
}

.container form .submit-btn:hover{
  background: #2f1f3e;
  border-radius:70px;
}


.form{
    display: grid;
}

.pay{
    text-align: center;
    margin-top: 10px;  text-transform:none;
}

.sum__box{
    display: grid;
    text-align: center;
    text-transform:none;
}

.sum__box span{
    display: grid;
    text-align: center;
    text-transform:none;
}
.sum__box input{
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    border-radius:70px;
}

.sum__box input:focus{
    border:1px solid #000;
    border-radius:0px;
  }

  .live__info__text{
    text-transform:none;
  }


  .index__input{
    width: 6em;
  }

  .inputBox span{
    text-transform: none;
  }
  span{
    text-transform: none;
  }


  .donn{
    display: grid;
    grid-area: auto;
    gap: 10px;
    text-transform:none;
  }


  .form-text_2{
    font-size: 24px;
    transform  }
.form-text_2 input {
  text-transform:none;
}

  .donn input{
    border-radius:10px;
    border-color: #000;
    border: #000;
    border-left: #000;
    border-width: 2px;
    text-transform:none;
  }

  .q{
    position: relative;
  }

  .aaaa{
    right: 200px;
    top: 150px;
  }

  .uiui{
    position: relative;
  }

  .uiui span {
    font-size: 40px;
  }