.footer{
    background:#1e1428;
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", "Manrope Placeholder", sans-serif;
    color:white;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;    
    align-content: center;  
    justify-items: center;
}

.footer__info{
    margin-top: 40px;
}
