body{
    margin: 0px 0px 0px 0px;  
    
}
li {
    list-style-type: none;
}

.main{
    padding-right: 30px;
    padding-left: 30px;
}

.header{
  row-gap: 40px;
}

.header__logo{
  position: absolute;
}
.logo{
  display: inline-block;
  position: relative;
  width: 5%;
  border-radius:50px;
  left: 1050px;
  top:10px;

      
}
.logo img{
  width: 59px;
  position: relative;
}

.wrapper{width: auto;
    background-color: #ffffff;
    display: grid;
    min-height: 100%;
    grid-template: minmax(100px, auto) 1fr minmax(100px, auto) / 1fr;
    
}

.header{
    display: grid;
    justify-items: center;
    padding-right: 30px;
    padding-left: 30px;

}
.el__h{
  position:absolute;
  left:-150px;
  top:100px;
  box-sizing: border-box;
  width: 500px;
  height: 260px;
  display: block;
  overflow: hidden;
  transform: rotate(62deg);
  z-index: 0;
  border-radius: 100%;
  border: 2px solid #774C60;
}
.header__links{
    display:grid;
    grid-auto-flow: column;
    gap: 45px;
    padding: 0;
    margin-top: 10px; 
}
.header__link{

    text-decoration:none;
    font-family: "Glass Antiqua", sans-serif;
    font-style:normal;
    font-weight:500;
    font-size: 14px;
    line-height: 44px;
    color:#372549;
}
.header__info{
    display: grid;
    margin: 0px 0px 0px 0px;
    margin-top: 50px;
    
    justify-items: center;
    align-items:center;
    grid-auto-flow: column;
    grid-template-columns: 1.8fr 2fr;
}

.header__tittle{
    font-weight: 500;
    font-style:normal;
    font-family: "Glass Antiqua";
    color: #372549;
    font-size: 90px;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.header__text{
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items:center;
    font-weight: 400;
    font-style:italic;
    font-family: "Glass Antiqua", sans-serif;
    color: #372549;
    font-size: 20px;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.header__text__1, 
.header__text__2, 
.header__text__3 {
    font-size:15px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    animation-duration: 20s;
    font-style: italic;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;

}


.header__text__1{
	animation-name: anim-1;
}

.header__text__2{
	animation-name: anim-2;
}

.header__text__3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

            



nav a {
  text-decoration: none;
  display: block;
  transition: .3s linear;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu > li {
  display: inline-block;
  position: relative;
  margin-right: -4px;
  
}
.topmenu > li > a { 
  padding: 20px 30px;
  text-decoration:none;
  font-family: "Glass Antiqua", sans-serif;
  font-style:normal;
  font-weight:500;
  font-size: 15px;
  line-height: 44px;
  color:#372549;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1c1c1c;
}
.active:after, .submenu-link:after {

  font-family: "Glass Antiqua", sans-serif;
  color: inherit;
  margin-left: 10px;
}
.topmenu .active, .topmenu > li > a:hover, .submenu li a:hover {color: #372549;}
.submenu {
  position: absolute;
  left: -1px;
  z-index: 5;
  width: 240px;
  border-bottom: 1px solid #372549;
  visibility: hidden;
  opacity: 0;  
  transform: translateY(10px);
  transition: .3s ease-in-out;
}
.submenu li {position: relative;}
.submenu a {
  background: white;
  border-top: 1px solid #372549;
  border-right: 1px solid #372549;
  border-left: 1px solid #372549;
  border-bottom: 1px solid #372549;
  text-align: left;
  text-decoration:none;
    font-family: "Glass Antiqua", sans-serif;
    font-style:normal;
    font-weight:500;
    font-size: 14px;
    line-height: 20px;
    color:#372549;
  letter-spacing: 1px;
  padding: 10px 20px;
}
.submenu .submenu {
  position: absolute;
  top: 0;
  left: calc(100% - 1px);
  left: -webkit-calc(100% - 1px);
}
nav li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}


.header__reg{
  display: inline-grid;
  margin-top: 70px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  justify-content: end;
  grid-auto-flow: row;
  justify-items: center;
}

.header__reg__text{
  font-family: "Glass Antiqua", sans-serif;
  font-style:normal;
  font-weight:500;
  font-size: 24px;
  line-height: 44px;
  text-align: center;

}

.header__button__reg{
  margin-top: 0px;
  justify-content: center;
  align-items:center;
  width: 215px;
  height: 56px;
  border-radius:18px;
  background-color:#372549;
}

.button__rgtext{
  color:white;
  width: 167px;
  text-decoration: none;
  overflow: visible;
  font-weight: 400;
  font-style:normal;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: left;

}

