.life__info{
    display: grid;
    margin: 0px 0px 0px 0px;


    
    justify-items: center;
    align-items:center;
    grid-auto-flow:row;
    grid-template-columns: 1fr;
}

.carousel{
    margin-top:70px ;
    height: max-content;
}




.live__info__text{
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    font-weight: 400;
    font-style:italic;
    font-family: "Glass Antiqua", sans-serif;
    color: #372549;
    font-size: 20px;
    text-align: center;
}

.life__columns{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    column-gap: 70px;
    row-gap: 70px;
}


.life__text__1{
    margin-top: 15px;
    text-align:justify;
    grid-column-start: 2;
 
    grid-row-start: 1;

    max-width: fit-content;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}
.life__text__2{
    margin-top: 15px;
    text-align:justify;
    grid-column-start: 2;
    grid-row-start: 2;
    max-width: fit-content;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}

.life__text__3{
    margin-top: 15px;
    text-align:justify;
    grid-column-start: 2;
    grid-row-start: 3;
    max-width: fit-content;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}


.columns__item img{
    max-width: 960px;
    max-height: 270px;
    border-radius:70px;
    
}

.el__life{
    position: absolute;
    left: 850px;
    top: 1250px;
    box-sizing: border-box;
    width: 570px;
    height: 299px;
    display: block;
    overflow: hidden;
    opacity: 0.3;
    transform: rotate(134deg);
    border-radius: 100%;
    border: 1px solid #FFFFFF;
}






