main {
    margin-top: 100px;
        background-color: #372549;
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
    padding-bottom: 70px;
    max-height: min-content;
}

.content{
    display: grid;
    margin-top: 80px;
    justify-items: center;
    
}

.content__columns{
    display: grid;
    
    
}

.columns__items{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 50px;
    
}
.columns__item{
    max-width: 480px;
    max-height: 270px;
}
.columns__item img{
    max-width: 480px;
    max-height: 270px;
    border-radius:70px;
    
}

.columns__item__text__1{
    margin-top: 15px;
    text-align:justify;
    grid-column-start: 1;
    grid-row-start: 2;
    max-width: 404px;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}
.columns__item__text__2{
    margin-top: 15px;
    text-align:justify;
    grid-column-start: 2;
    grid-row-start: 2;
    max-width: 404px;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}

.columns__item__text__3{
    margin-top: 15px;
    text-align:justify;
    grid-column-start: 3;
    grid-row-start: 2;
    max-width: 404px;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}

.columns__payment{
    margin-top: 150px;
    max-width: 404px;
    grid-column-start: 2;
    grid-row-start: 3;
    max-width: 600px;
    overflow: visible;
    font-weight: 400;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #eacdc2;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;

}
.columns__payment h1{
    font-size: 36px;
}
.columns__payment p{
    margin-top: 40px;
    max-width: 404px;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #eacdc2;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: center;
}



.donate{
    display: grid;
    margin-top: 50px;
    justify-items: center;
    align-items:center;
    align-content:center;
}

  .donate__button{
    display: grid;
    box-sizing: border-box;
    width: 30%;
    height: 170%;
    padding: 3px 3px 3px 3px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #eacdc2;
    align-content: center;
    gap: 10;
    border-radius: 8px;
    border:0px;
                     
  }
  
  .donate__button__text{
    text-decoration: none;
    font-weight: 600;
    font-style: normal;
    font-family: "Manrope", "Manrope Placeholder", sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;    
    align-content: center;  
  }
  
  .el {
    position: absolute;
    left: 800px;
    top: 1500px;
    box-sizing: border-box;
    width: 570px;
    height: 299px;
    display: block;
    overflow: hidden;
    opacity: 0.3;
    transform: rotate(134deg);
    border-radius: 100%;
    border: 1px solid #FFFFFF;
  }


  .carousel__index{
    margin-top: 170px;
    width: 70%;
    height: 70%;
    grid-column-end:2;     
  }

  .carousel-item img{
    border-radius:100px;
  }


 .but_v{
    display: grid;
    grid-auto-flow: column;
    gap:60px;
 }

.form-text input {
    text-transform: none;
}

 .main_ques{
    margin-top: 40px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding:80px 80px 80px 80px;
    background-color:#372549;
    padding-bottom: 200px;
 }
 
 .main_ques a{
    color: #eacdc2;
    font-size: 46px;
    text-decoration:double;
 }

 .main_ques span, p, h1{
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #eacdc2;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.5;
}
.main_ques hr{
    color: white;
}

.main_ques_p{
    margin-top: 80px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding:80px 80px 80px 80px;
    background-color:#372549;
    padding-bottom: 300px;
}

.main_ques_p span, p, h1{
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.5;
}

.main_ques_p h1{ 
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #eacdc2;
    font-size: 50px;
    letter-spacing: 0em;
    line-height: 1.5;
}





.main_ques_p article {
    background-color: #372549;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  .info {
    gap:50px;
    display: flex;
  }
  

  
  .main_ques_p form {
    background-color: #e3cfc7;
    padding: 10px 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
  }
  
  .main_ques_p  form div {
    margin-bottom: 20px;
    display: flex;
  }
  
  .main_ques_p form div label {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .form-info {
    justify-content: space-between;
    gap: 20px;
  }
  
  .main_ques_p input,
  .main_ques_p textarea {
    min-height: 30px;
    border: 4px solid #000;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 20px;
    padding: 3px 5px;
    outline: none;
  }
  
  .main_ques_p textarea {
    resize: none;
    min-height: 150px;
  }
  
  .form-button {
    display: flex;
    justify-content: flex-end;
  }
  
  .form-button input {
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .form-button input:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .artasadas {
  position: relative;
  }

  .btn-edit,
.btn-delete {
  position: absolute;
  top: 0px;
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 48px;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn-edit,
.btn-delete:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-edit {
    top: 40px;
  right: 165px;
}

.btn-delete {
    top: 40px;
    right: 105px;
}


.post{
    position: relative;
}



.dd{
    display: grid;    
    grid-auto-flow: column;
}


.main_ques_p{
    margin-top: 80px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding:80px 80px 80px 80px;
    background-color:#372549;
    padding-bottom: 300px;
}

.main_ques_p span, p, h1{
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.5;
}

.main_ques_p h1{ 
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #eacdc2;
    font-size: 50px;
    letter-spacing: 0em;
    line-height: 1.5;
}





.main_ques_p article {
    background-color: #372549;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  .info {
    gap:50px;
    display: flex;
  }
  

  
  .qq form {
    background-color: #dcd8d6;
    padding: 10px 20px;
    border-radius: 34px;
    display: flex;
    flex-direction: column;
  }
  
  .main_ques_p  form div {
    margin-bottom: 20px;
    display: flex;
  }
  
  .main_ques_p form div label {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .form-info {
    justify-content: space-between;
    gap: 20px;
  }
  
  .qq input,
  .qq textarea {
    min-height: 30px;
    border: 2px solid #000;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 20px;
    padding: 3px 5px;
    outline: none;
    padding-left: 20px;
  }
  
  .qq textarea {
    resize: none;
    padding-left: 20px;
    min-height: 150px;
  }

  .form-button input{
    padding-right: 20px;
  }