.maps{background-color:#372549;
    display: block;}
    

.moscow__homes{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
    display:grid;
    grid-auto-flow: row;
    row-gap: 60px;
}
.moscow__homes span{
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}


.moscow__home{
    display: grid;
    grid-auto-flow: column;
    column-gap: 40px;
    text-align: justify;
    align-items:center;

}

.moscow__sosna__img{
    height: 57%;
}


.moscow__pech__img{
    filter: invert(100%);
    -webkit-filter: invert(100%);

}


.moscow__main{
    display: grid;
    justify-items: center;
}

.moscow__home__sosna{
    align-items:start;
}