.neur__main{display: grid;
padding-left: 80px;
padding-right: 80px}

.dog__page{
    display: grid;
}

.neur__content{margin-top: 50px;
display: grid;
grid-auto-flow: column;
column-gap: 20px;}

.neur__tittle{
    text-align: end;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}

.neur__content input{
    color: #eacdc2;
}

.dog__class{
    text-align: center;
    display: grid;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}
.dog__class__info{display: grid;
margin-top: 40px;
    grid-template:fit-content;
    row-gap: 50px;
}

.dog__class__info h3{
    font-weight: 500;
    font-style:normal;
    font-family: "Glass Antiqua";
    color: #eacdc2;
    font-size: 26px;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1;
   
}
.dog__class__info p{
    text-align: justify;
    font-weight: 140;
    font-style:italic;
    font-family: "Glass Antiqua", sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: 0em;

    line-height: 1.6;
}
.class__images{
    display:grid;
    
}

