.stats__content{
    display: grid;
    margin-top: 70px;
    justify-items: center;
}

.stats__content__h2 h2{
    font-weight: 500;
    font-style:normal;
    font-family: "Glass Antiqua";
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.stats__content__text p{
    font-weight: 400;
    font-style:normal;
    font-family: "Glass Antiqua", sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 2;
    text-align: center;
}

.stats__timeline{
    margin-top: 50px;
}

.timeline__items{
    display: grid;
    row-gap: 30px;
    padding-right: 32px;

}
.timeline__item__l{
    padding-right: 40px;
    grid-column-start: 1;
    text-align:center;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;

}
.timeline__item__r{
    padding-left: 40px;
    grid-column-start: 2;
    text-align:center;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}

.timeline__item__r__1{
    grid-row-start: 1;
}
.timeline__item__r__2{
    grid-row-start: 3;
}
.timeline__item__r__3{
    grid-row-start: 5;
}

.timeline__item__l__1{
    grid-row-start: 2;
}
.timeline__item__l__2{
    grid-row-start: 4;
}
.timeline__item__l__3{
    grid-row-start: 6;
}

.timeline__item h3{
    color: #eacdc2;
}
.timeline__item p{
            font-size:15px;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 20px;
            animation-duration: 20s;
            font-style: italic;
            animation-timing-function:ease-in-out;
            animation-iteration-count: infinite;
}

.timeline__items__img img{
 height: 128px;
}

.timeline__items__img{
    max-height:128px;
    padding-left: 30px;
}

.timeline__items__img__l{
    display:grid;
    justify-content: end;
    padding-right: 30px;
}

.stats__timeline{
    display: grid;
    grid-auto-flow: column;
}

.stats__item{
    padding-right: 40px;
    grid-column-start: 1;
    text-align:center;
    overflow: visible;
    font-weight: 500;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.4;
}

.stats__holland{
    margin-top: 70px;
}

.stats__holland__hr hr{
    border:100px;
    color: #ffffff;
    border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}
.main__content{
    display: grid;
    margin-top: 70px;
}

.main__text
{   padding-left: 50px;
    padding-top: 40px;
    padding-right: 50px;
    text-align: justify;
    font-weight: 200;
    font-style:italic;
    font-family: "Glass Antiqua", sans-serif;
    color: white;
    font-size: 17px;
    letter-spacing: 0em;

    line-height: 1.6;
}

.graph{
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
canvas{
    max-width: 500px;
  /*  background-color: antiquewhite; */
}
